{% extends "base.html" %}
{% block title %}Pannello Admin{% endblock %}

{% block content %}

    <!-- Header Section -->
    <div class="text-center mb-5">
        <h1 class="display-4" style="color: #81A1C1;">Pannello Admin</h1>
        <p class="lead" style="color: #D8DEE9;">Gestisci i bibliotecari e monitora le statistiche del sistema.</p>
    </div>

    <!-- Admin Actions Section -->
    <div class="card shadow-lg mx-auto mb-5 border-0" style="max-width: 800px; background-color: #4C566A; color: #ECEFF4;">
        <div class="card-header text-center" style="background-color: #5E81AC; color: #ECEFF4;">
            <h4 class="font-weight-bold">Azioni Admin</h4>
        </div>
        <div class="card-body text-center">
            <button class="btn btn-primary" style="background-color: #5E81AC;" data-toggle="modal" data-target="#addUserModal">
                Aggiungi Utente
            </button>
        </div>
    </div>

        <!-- Users List Section -->
        <div class="card shadow-lg mx-auto mb-5 border-0" style=" background-color: #4C566A; color: #ECEFF4;">
            <div class="card-header text-center" style="background-color: #5E81AC; color: #ECEFF4;">
                <h4 class="font-weight-bold">Elenco Utenti</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Cognome</th>
                            <th scope="col">Data</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in users %}
                        <tr onclick="window.location.href='/user/{{u['Username']}}'" style="cursor: pointer;">
                            <td>{{ u['Username'] }}</td>
                            <td>{{ u['Nome'] }}</td>
                            <td>{{ u['Cognome'] }}</td>
                            <td>{{ u['DataNascita'] }}</td>
                            <td>{{ u['Email'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>

    <!-- Add Bibliotecario Modal -->
    {%include "register.html"%}


    
</div>
{% endblock %}
