<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #4C566A; color: #ECEFF4;">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Aggiungi Nuovo Utente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/register/" method="POST">
                <div class="modal-body">
                    <!-- Nome -->
                    <div class="form-group">
                        <label for="nome" class="font-weight-bold">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Inserisci il nome" required>
                    </div>
                    <!-- Cognome -->
                    <div class="form-group">
                        <label for="cognome" class="font-weight-bold">Cognome</label>
                        <input type="text" class="form-control" id="cognome" name="cognome" placeholder="Inserisci il cognome" required>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <label for="email" class="font-weight-bold">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Inserisci l'email" required>
                    </div>
                    <!-- Data -->
                    <div class="form-group">
                        <label for="data" class="font-weight-bold">Data di nascita</label>
                        <input type="data" class="form-control" id="data" name="data" placeholder="Inserisci la data" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <button type="submit" class="btn btn-primary">Registra Utente</button>
                </div>
            </form>
        </div>
    </div>
</div>